<div class="main">
	<div class="filter">
		<p>Launch Year</p>
		<hr>
		<button *ngFor="let year of years" (click)="filter(year)">{{year}}</button>
		<p>Successfull Launch</p>
		<hr>
		<button (click)="filterLaunchLand(true, true)">True</button>
		<button (click)="filterLaunchLand(false,false)">False</button>
		<p>Successfull Landing</p>
		<hr>
		<button (click)="filterLaunchLand(true, true)">True</button>
		<button (click)="filterLaunchLand(true, false)">False</button>
		<hr>
		<button (click)="getRockets()">Clear Filter</button>
	</div>
	<div *ngIf="rockets.length ==0" class="no-content">No Launches are available</div>

	<div class="container">
		<div *ngFor="let rocket of rockets" class="item">
			<img [src]="rocket.links.mission_patch" class="avatar"/>
			<div class="content">
				<p><strong>Mission Name : </strong> {{rocket.mission_name}}</p>
				<p><strong>Mission Id's : </strong><span *ngIf="rocket.mission_id.length == 0">Not Available</span></p>
				<ul *ngFor="let id of rocket.mission_id">
					<li>{{id}}</li>
				</ul>
				<p><strong>Launch Year : </strong>{{rocket.launch_year}}</p>
				<p><strong>Successfull Launch : </strong>{{rocket.launch_success}}</p>
				<p><strong>Successfull Landing : </strong><span *ngIf="rocket.land_success == null">Not Available</span>{{rocket.land_success}}
				</p>
			</div>
		</div>
	</div>
</div>
<div [ngClass]="{'loader': loading}"></div>
<div class="footer">
	This application is develiped by : {{name}}
</div>